<!DOCTYPE html>
<html>
<head>
<title>To-Do Item Form</title>
</head>
<body>
    <h2>To-Do Item Form</h2>
    <form action="/submittodoitem" method="post">
        Item Name: <input type="text" name="itemName" required><br><br>
        Item Description: <textarea name="itemDescription" required></textarea><br><br>
        Item ID: <input type="text" name="itemId" required></input><br><br>
        <input type="submit" value="Add Item">
        Item UUID: <input type="text" name="itemUUID" required></input><br><br>
        <input type="submit" value="Add Item">

    </form>
</body>
</html>

